<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Create Message</title>
  </head>
  <body>
    <main>
      <form action="/messages" method="post">
        <label for="messageTitle">Message Title: </label>
        <input type="text" name="messageTitle" id="messageTitle" />

        <label for="messageContent">Message Content: </label
        ><input type="text" name="messageContent" id="messageContent" />

        <button type="submit">Create Message</button>
      </form>
    </main>
  </body>
</html>
