<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only | Join the Club</title>
  </head>
  <body>
    <main>
      <h1>Join the Club</h1>

      <form action="" method="post">
        <label for="joinPassword">Enter the secret passcode: </label>
        <input type="text" name="joinPassword" id="joinPassword" />
        <button type="submit">Join</button>
      </form>
    </main>
  </body>
</html>
